@page "{id:min(1)}"
@model AspNetCoreInActionSecondEditionForMvc.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit Person";
}

<h2 class="text-primary">
    Edit
</h2>
<hr />
<form method="post">
    <input hidden="hidden" asp-for="TblPerson.PersonId" />
    <div class="row form-group">
        <label asp-for="TblPerson.Name" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.Name" class="form-control" placeholder="Name..." />
            <span asp-validation-for="TblPerson.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="TblPerson.Email" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.Email" class="form-control" placeholder="Email..." />
            <span asp-validation-for="TblPerson.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="TblPerson.Age" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.Age" class="form-control" placeholder="Age..." />
            <span asp-validation-for="TblPerson.Age" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="TblPerson.Department.Name" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.Department.Name" class="form-control" placeholder="Department Name..." />
            <span asp-validation-for="TblPerson.Department.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="TblPerson.City.Name" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.City.Name" class="form-control" placeholder="Address..." />
            <span asp-validation-for="TblPerson.City.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <label asp-for="TblPerson.Gender.Name" class="col-md-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TblPerson.Gender.Name" class="form-control" placeholder="Gender..." />
            <span asp-validation-for="TblPerson.Gender.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-success">
                Update
            </button>
            <a asp-page="Index" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}